<table>
	<tr>

		<%#debugger%>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Phone</th>
		    <th>Email</th>
		    <th>Zip</th>
		    <th></th>
			<th></th>
			<th></th>
	</tr>
	 <tbody>
		<tr>
			<td><%= @test1%></td>>
			<td><%= @test2%></td>
			<td><%= @test3%></td>
			<td><%= @test4%></td>
			<td><%= @test5%></td>
		</tr>
	 </tbody> 


	
</table>
